body
{
    background-color: gray;
    font-family: Verdana;
    font-size: 20px;
    color: white;
}

#container
{
    width:1000px;
    margin-left: auto;
    margin-right: auto;

}

h1
{
    font-size: 48px;
}

/*Nieodwiedzony link*/
a:link
{
    color:yellow

}

/*odwiedzony link*/
a:visited
{
    color:yellow
}

/*Najechany link*/
a:hover
{
    color: red;
}
#logo
{
    background-color: black;
    text-align: center;
    padding: 15px;
}
#nav
{
    float:left;
    background-color: blue;
    width: 120px;
    min-height: 1800px;
    padding: 10px;
    color: black;
}
#content
{
    float: left;
    padding: 20px;
    width: 640px;
    text-align: center;
}
#ad
{   
    float:left;
    width: 160px;
    min-height: 1800px;
    padding: 10px;
    background-color: blue;
    color: black;
}
#footer
{
    color: white;
    clear: both;
    background-color: black;
    text-align:center;
    padding: 20px;
}
#h2
{

    color: blueviolet;
}